.ItemList {
    /* margin-top: 20px; */
    font-size: inherit;
}
.Tr th {
    cursor: pointer;
}
.Inputs {
    margin-bottom: 20px;
}
.Inputs input {
    margin: 0 10px;
    width: calc(100%/5 - 20px);
}
.Input {
    margin: 0 20px;
    height: 35px;
}